@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Tilt+Prism&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--bg_color_1);
}

:root {
    --bg_color_1: #5b0017;
    --bg_color_2: #844051;
    --bg_color_3: #AD808B;
    --bg_color_4: #D6BFC5;
    --secondary_1: #CC9D2F;
    --secondary_2: #D8B663;
    --secondary_3: #E5CE97;
    --secondary_4: #F2E7CB;
}

header {
    display: flex;
    position: sticky;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.navbar {
    list-style: none;
}

.navbar li {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    display: inline-block;
    padding: 0 50px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #D6BFC5  ;
}

.navbar li a:hover {
    color: var(--secondary_1);
}

.Book {
    cursor: pointer;
    padding: 9px 25px;
    background-color: var(--secondary_1);
    color: var(--bg_color_1);
    border: none;
    border-radius: 2px;
    transition: .5s;
    box-shadow: 5px 5px 10px black;
}

.Book:hover {
    box-shadow: 1px 1px;    
}

.logo {
    display: flexbox;
    place-items: center;
    font-family: 'Dancing Script', sans-serif;
    /* font-family: 'Tilt Prism', cursive; */
    font-weight: 400;
    font-size: 25px;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent,
                0 0 10px #CC9D2F,
                0 0 20px rgba(204, 157, 47, .5),
                0 0 40px #CC9D2F,
                0 0 100px #CC9D2F,
                0 0 200px #CC9D2F,
                0 0 300px #CC9D2F,
                0 0 500px #CC9D2F,
                0 0 1000px #CC9D2F;
    animation: animate 3s infinite alternate;
    z-index: 100;
}

.logo :nth-child(1) {
    display: grid;
    place-items: center;
    font-family: 'Dancing Script', sans-serif;
    /* font-family: 'Tilt Prism', cursive; */
    font-weight: 100;
    font-size: 15px;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent,
                0 0 10px #ff003c,
                0 0 20px rgba(255, 0, 60, .5),
                0 0 40px #ff003c,
                0 0 100px #ff003c,
                0 0 200px #ff003c,
                0 0 300px #ff003c,
                0 0 500px #ff003c,
                0 0 1000px #ff003c;
    animation: animate 3s infinite alternate;
}

.bole {
    position: absolute;
    background: rgba(91, 0, 23, 0);
    top: 200px;
    left: 100px;
    z-index: 2;

}

.bole p {
    font-family: 'Nunito', sans-serif;
    background: rgba(91, 0, 23, .5);
    width: 800px;
    font-weight: 800;
    font-size: 4rem;
    color: white;
    letter-spacing: 7px;
    justify-content: center;
    align-items: center;
}

.bole h6 {
    font-family: 'nunito', sans-serif;
    font-weight: 100;
    background: transparent;
    color: white;
    font-size: .9rem;
    width: 400px;
    letter-spacing: 1px;
}

.addis {
    position: absolute;
    left: 45%;
    top: 120px;
    width: 600px;
    height: 400px;
    object-fit: cover;
    z-index: 1;
}

.background_vector_abstract {
    position: absolute;
}

.star {
    position: relative;
    top: 34px;
    left: 1182px;
    height: 50px;
    width: 50px;
    z-index: 10;
    background-color: transparent;
}

.star:hover {
    cursor: pointer;
    transform: rotateZ(3600deg);
    transition: 4s;
}

.our-menu {
    position: relative;
    top: 40px;
    font-family: 'nunito', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary_1);
    border: 2px solid var(--secondary_1);
    border-radius: 4px;
    padding: 10px;
}

.luma_img {
    position: absolute;
    top: 700px;
    left: 100px;
    height: 600px;
    width: 450px;
}

.venue {
    position: absolute;
    top: 700px;
    left: 600px;
}

.venue h6 {
    font-family: 'nunito', sans-serif;
    font-weight: 100;
    margin-top: 20px;
    background: transparent;
    color: white;
    font-size: 1rem;
    width: 400px;
    letter-spacing: 1px;
}

.venue p {
    font-family: 'Nunito', sans-serif;
    background: rgba(91, 0, 23, .5);
    width: 700px;
    font-weight: 200;
    font-size: 3rem;
    color: white;
    letter-spacing: 7px;
}

.background_vector_abstract_2 {
    position: relative;
    left: 720px;
    top: 516px;
    z-index: -1;
}

.luma_img, .addis {
    cursor: pointer;
    border: .5px solid var(--secondary_1);
    border-radius: 10px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4), 0 24px 80px 0 rgba(0, 0, 0, 0.38);
    transition: 1s;
}

.luma_img:hover, .addis:hover {
    box-shadow: 1px 1px;
}

.venue a {
    position: absolute;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
    padding: 10px 30px;
    margin-top: 50px;
    text-decoration: none;
    color: var(--bg_color_1);
    background-color: var(--secondary_1);
    border: none;
    border-radius: 2px;
    transition: .5s;
    box-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
}

.venue a:hover {  
    box-shadow: 2px 2px 10px black
}   

.restaurant-images {
    position: absolute;
    top: 1100px;
    left: 600px;
}

.restaurant-images img {
    cursor: pointer;
    height: 125px;
    width: 125px;
    margin-right: 20px;
    border: .1px solid var(--secondary_1);
}

.line {
    height: 2px;
    width: 400px;
    margin-top: 60px;
    border: .5px solid var(--secondary_1);
    transition: 10s;
}

.restaurant-images img:hover {
    /* height: 2px; */
    width: 100px;
    /* margin-top: 60px; */
    /* border: .5px solid var(--secondary_1); */
}