@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--bg_color_1);
}

:root {
    --bg_color_1: #5B0017;
    --bg_color_2: #844051;
    --bg_color_3: #AD808B;
    --bg_color_4: #D6BFC5;
    --secondary_1: #CC9D2F;
    --secondary_2: #D8B663;
    --secondary_3: #E5CE97;
    --secondary_4: #F2E7CB;
}

header {
    display: flex;
    position: sticky;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0 50px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #D6BFC5  ;
}

.navbar li a:hover {
    color: var(--secondary_1);
}

button {
    padding: 9px 25px;
    background-color: var(--secondary_1);
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}

.logo {
    display: grid;
    place-items: center;
    font-family: 'Dancing Script', sans-serif;
    /* font-family: 'Tilt Prism', cursive; */
    font-weight: 400;
    font-size: 40px;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent,
                0 0 10px #ff003c,
                0 0 20px rgba(255, 0, 60, .5),
                0 0 40px #ff003c,
                0 0 100px #ff003c,
                0 0 200px #ff003c,
                0 0 300px #ff003c,
                0 0 500px #ff003c,
                0 0 1000px #ff003c;
    animation: animate 3s infinite alternate;
}

.half_star {
    height: 50px;
    width: 50px;
    background: transparent;
    background-color: var(--secondary_1);
}

.circle {
    content: '';
    display: flex;
    height: 20px;
    width: 20px;
}

.landing_page {
    position: relative;
    top: 100px;
    left: 50px;
}

.landing_page h1 {
    font-size: 3.5rem;
    color: white;
}

.landing_page h6 {
    color: white;
    font-size: .9rem;
}